<div class="ekart--product--container">    
    <!-- <img [src]="product.pImage" class="" alt="" style="width: 200px; height: 200px;">
    <p>Name: {{product.name}} </p>
    <p>Price: ${{product.price}}</p>
    <p>Color: {{product.color}}</p>
    <p>Discounted Price: ${{ getDiscountedPrice().toFixed(2) }}</p>
    <!-- String interpolation -->
    <!-- <p>{{ product.inStock > 0 ? 'Only ' + product.inStock + ' are left ': 'Not in stock'}}</p> -->

    <!-- Click Event binding -->
    <!-- <button (click)="decrementCartValue()" class="p-2 btn btn-primary">-</button>
    <span class="p-2">{{ addToCart }}</span>
    <button (click)="incrementCartValue()" class="p-2 btn btn-primary">+</button> -->


    <!-----------Property Binding wrap with [] bracket -->
    <!-- <button [disabled]="!(product.inStock > 0)" class="btn btn-primary">Buy Now</button> -->
    <!---------- Event binding -->
    <!-- <input (input)="onChangeName($event)" ><br>
    <p>Name: {{name}}</p> -->

    <app-search (searchTextChanged)="setSearchText($event)"></app-search>
                <!-- ngFor Directive -->
    <!-- <div *ngFor="let item of listOfString">
        <p>Current element of array is: {{ item }}</p>
    </div> -->

    <product-list [searchText]="searchText" #productListComponent></product-list>
    <product-detail *ngIf="productListComponent.selectedProduct" [productListComp]="productListComponent"></product-detail>

</div>