<div class="ekart--search--product">
    <!-- ngModel for two way binding -->
    <input class="ekart-search-product-input" [(ngModel)]="searchText" (input)="noSearchTextChanged()">
    <!-- ngClass attribute directive is used to disable the search button 
     of the search text is empty. if search box has some text the button 
    dynamically change to active search button-->
    <button [ngClass]="{'btn': true, 'btn-search': searchText, 'btn-search-disabled': !searchText}" [disabled]="!searchText">Search</button>
</div>
<div class="ekart-search-result-for">
    <p *ngIf="searchText != ''">
        <strong>Search result for:</strong> 
        {{searchText}}
    </p>
</div>